html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}

.large-screen {
  width: 960px;
}


/*header section*/

header {
  display: flex;
  justify-content: center;
  background-image: url("../images/glasses-bg.png");
  height: 31rem;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
}

#header {
  display: inline-flex;
  background-color: cadetblue;
  color: white;
  height: 3rem;
  margin: 1rem auto;
  padding: 1rem 0;
  justify-content: space-between;
}

#logo {
  display: inline-flex;
}


#logo-image {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  align-self: center;
}

nav ul {
  display: inline-flex;
  margin: 0;
}

nav ul li {
  list-style: none;
  padding: 1rem 2rem;
}

#menu {
  display: none;
}

#slogan-container {
  display: flex;
  width: 1032px;
  margin: 0 auto;
  justify-content: flex-end;
}

#slogan {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  height: 5rem;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
}





/*main section*/

main {
  display: flex;
  flex-direction: column;
}




#benefits-container {
  display: inline-flex;
  margin: 3rem auto;
  width: 100%;
  justify-content: center;
}

.benefit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 0 3rem;
}

#benefits-container p {
  margin: 0;
  margin-top: 1rem;
  width: 90%;
}


#exams img {
  width: 3.5rem;
}

#fittings img, #delivery img {
  width: 5rem;
}





#info-container {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}


.info {
  width: 35%;
  margin: 0 2.5%;
}


.info-heading {
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  width: 10rem;
  padding: 0.5rem 1.25rem;
}





/*footer section*/




footer {
  display: flex;
  justify-content: center;
}



#copyright-container {
  display: inline-flex;
  background-color: azure;
  padding: 4rem 4rem;
  align-items: center;
}

#copyright-container img {
  height: 1.5rem;
}


#copyright-text {
  padding-left: 1rem;
}




/*media queries*/



@media only screen and (max-width: 980px) {
  #header {
    max-width: 100%;
    margin: 0;
    position: fixed;
  }

  #slogan {
    margin-top: 10rem;
    padding: 0 2.5rem;
    font-size: 1.33rem;
    margin-right: 2rem;
  }



  #slogan-container {
    max-width: 100%;
  }

  #info-container {
    max-width: 100%;
  }

}


@media only screen and (max-width: 720px) {

  #menu {
    display: block;
  }

  .nav-item {
    display: none;
  }

  header {
    height: 22rem;
  }

}


@media only screen and (max-width: 540px) {
  #info-container {
    flex-direction: column;
    overflow: hidden;
  }

  .info {
    width: 100%;
    margin: 0;
  }

  .info-heading {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  #philosophy {
    margin-bottom: 4rem;
  }

  .text {
    font-size: 0.77rem;
    margin: 1rem 0.5rem;
  }

  #benefits-container {
    flex-direction: column;
    margin: 3.77rem auto;
  }

  #benefits-container p {
    font-size: 0.77rem;
  }

  #fittings {
    margin: 1.54rem auto;
  }

  header {
    background-position: 20%;
  }

  #logo p {
    display: none;
  }

  #slogan {
    margin: 0;
    height: 3rem;
    width: 100%;
    margin-top: 17rem;
    font-size: 1rem;
    padding:0;
  }

  #copyright-text {
    display: none;
  }

  #copyright-container {
    justify-content: center;
  }

}
